<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Companies</title>
</head>
<body>

<div class="container">

    <h3>Companies</h3>
    <div class="col-md-12">
        <a th:href="@{/employees/add}" class="btn btn-primary btn-sm">Add</a>
    </div>

    <div th:switch="employees">

        <div th:case="*">

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Company</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${employees}">
                    <td scope="row" th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.birthDate}"></td>
                    <td th:text="${employee.company.tradeName}"></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-warning btn-sm"
                               href="">Edit</a>
                            <a th:href="@{/employees/delete/{id}(id=${employee.id})}" class="btn btn-danger btn-sm"
                               href="">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>