<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean name="barcelona" class="pe.isil.team.Barcelona"/>
    <bean name="juventus" class="pe.isil.team.Juventus"/>
    <bean name="manchester" class="pe.isil.team.Manchester"/>

    <bean name="messi" class="pe.isil.player.MessiDI">

        <!--injeccion de dependencia por construtor-->
        <constructor-arg name="team" ref="barcelona"/>

        <!--injeccion de dependencia por setter-->
        <!--<property name="team" ref="barcelona"/>-->

    </bean>
</beans>